<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Document</title>
</head>
<body  class="bg-dark">
    <header th:insert="navbar :: nav">

    </header>

    <main>
        <div class="container text-danger">
            <div class="row">
                
                
                <div class="col-4 p-4" style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse animi placeat eaque error aperiam numquam architecto natus iste corrupti consectetur eligendi libero, officia tempora obcaecati expedita quasi, quae tempore amet! Lorem ipsum dolor sit amet consectetur adipisicing elit. Error repellat corporis esse nisi amet fugiat sint. Aut, quae alias. At perferendis illum adipisci minima est, mollitia hic temporibus aliquam facilis? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus non, tempore, ducimus, ratione ea autem nisi quas vitae nam maiores eius a odio laudantium veritatis fugiat laborum delenit.</div>
                
                <div class="col-4 p-4" style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi maiores hic accusantium quo? Earum, nemo rerum. Laudantium, odit? Qui porro deserunt sint totam asperiores dolores ullam nihil saepe ipsam reprehenderit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus rerum incidunt ad dolor harum placeat nihil. Aspernatur laboriosam quasi laudantium maiores, adipisci, dignissimos itaque, culpa debitis quo voluptatum aut deleniti. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut dolore necessitatibus optio rerum mollitia, voluptas quo, a quod animi dignissimos est laboriosam corrupti alias.</div>
                
                <div class="col-4 p-4" style="text-align: justify;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque, quaerat explicabo praesentium reiciendis commodi culpa! Nostrum suscipit rerum fugit aliquam vitae dolores, molestias nisi quis nobis alias voluptas provident voluptatum? Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse similique dolore error recusandae cupiditate aliquid rem ad quia hic, beatae nostrum aperiam accusantium earum voluptates dolor. Blanditiis harum officiis consequatur! Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia unde hic consequatur facere rerum corrupti animi repudiandae explicabo et. Pariatur minus quo cupiditat.</div>
            </div>
        </div>

    </main>
    
    <footer th:insert="footer :: footer">
        
    </footer>
    


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>